# Exclude model weights and serialized objects
outputs/models/
outputs/*.rds

# Ignore all raw data files in data/
data/*.csv
data/*.xls
data/*.xlsx
data/*.db
data/*.rds
*.sqlite

# Allow specific output summary CSVs
!outputs/business_kpis.csv
!outputs/insights_master.csv

# Exclude temporary and IDE files
.gitignore~
.vscode/
.Rhistory
.RData
