# Exclude model weights and serialized output objects
outputs/models/
outputs/*.rds

# Exclude raw dataset files, excel sheets, and database files
data/*.csv
data/*.xls
data/*.xlsx
data/*.db
data/*.rds
*.sqlite

# Exclude temp files and IDE files
.gitignore~
.vscode/
.Rhistory
.RData
